## Preprocessing

In [5]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import warnings
warnings.filterwarnings("ignore")

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [6]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns=["EIN"], axis=1, inplace=True)

In [7]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [10]:
counts = application_df["NAME"].value_counts()
counts

NAME
PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: count, Length: 19568, dtype: int64

In [13]:
names_types_to_replace = list(counts[counts < 100].index)
# Replace in dataframe
for app in names_types_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['NAME'].value_counts()

NAME
Other                                                                 25987
PARENT BOOSTER USA INC                                                 1260
TOPS CLUB INC                                                           765
UNITED STATES BOWLING CONGRESS INC                                      700
WASHINGTON STATE UNIVERSITY                                             492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                         408
PTA TEXAS CONGRESS                                                      368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                           331
ALPHA PHI SIGMA                                                         313
TOASTMASTERS INTERNATIONAL                                              293
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                       287
LITTLE LEAGUE BASEBALL INC                                              277
INTERNATIONAL ASSOCIATION OF LIONS CLUBS                                266
MOMS CLUB                                                               210
INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION      206
AMERICAN ASSOCIATION OF UNIVERSITY WOMEN                                197
FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA                    166
KNIGHTS OF COLUMBUS                                                     158
HABITAT FOR HUMANITY INTERNATIONAL INC                                  154
TENNESSEE ORDER OF THE EASTERN STAR                                     151
VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY                 144
PTA UTAH CONGRESS                                                       140
THE UNITED STATES PONY CLUBS INC                                        136
CIVITAN INTERNATIONAL                                                   131
SIGMA BETA DELTA INC                                                    127
HONOR SOCIETY OF PHI KAPPA PHI                                          107
MONTANA 4-H FOUNDATION INC                                              107
WASHINGTON STATE GRANGE                                                 106
UNIVERSITY OF WYOMING                                                   105
DEMOLAY INTERNATIONAL                                                   104
SERTOMA INC                                                             103
Name: count, dtype: int64

In [15]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
counts = application_df["APPLICATION_TYPE"].value_counts()
counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [16]:
list(counts[counts < 500].index)

['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

In [17]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(counts[counts < 500].index)
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [18]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
counts = application_df["CLASSIFICATION"].value_counts()
counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [19]:
# You may find it helpful to look at CLASSIFICATION value counts >1
counts[counts > 1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [20]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(counts[counts < 1883].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [21]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)

In [22]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop(["IS_SUCCESSFUL"],axis="columns").values

# Split the preprocessed data into a training and testing dataset
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [23]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [24]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
x = len(X_train_scaled[0])

nn = tf.keras.models.Sequential()

# First hidden layer
nn = tf.keras.models.Sequential()

nn.add(tf.keras.layers.Dense(units=80, activation="relu", input_dim=x))


# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                6000

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 8,461
Trainable params: 8,461
Non-trainable params: 0
_________________________________________________________________

2024-05-22 13:41:15.068234: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  SSE4.1 SSE4.2 AVX AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [25]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [26]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5135 - accuracy: 0.7427
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4931 - accuracy: 0.7573
Epoch 3/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4901 - accuracy: 0.7592
Epoch 4/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4883 - accuracy: 0.7607
Epoch 5/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4867 - accuracy: 0.7587
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4867 - accuracy: 0.7606
Epoch 7/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4860 - accuracy: 0.7622
Epoch 8/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4851 - accuracy: 0.7599
Epoch 9/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4837 - accuracy: 0.7624
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4838 - accuracy: 0.7619
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4828 - accuracy: 0.7635
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4823 - accuracy: 0.7624
Epoch 13/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4818 - accuracy: 0.7637
Epoch 14/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4815 - accuracy: 0.7633
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4810 - accuracy: 0.7639
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4806 - accuracy: 0.7643
Epoch 17/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4806 - accuracy: 0.7636
Epoch 18/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4804 - accuracy: 0.7636
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4798 - accuracy: 0.7642
Epoch 20/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4795 - accuracy: 0.7652
Epoch 21/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4799 - accuracy: 0.7637
Epoch 22/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4790 - accuracy: 0.7655
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4792 - accuracy: 0.7641
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4784 - accuracy: 0.7658
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4781 - accuracy: 0.7657
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4784 - accuracy: 0.7652
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4779 - accuracy: 0.7659
Epoch 28/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4779 - accuracy: 0.7662
Epoch 29/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4776 - accuracy: 0.7665
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4775 - accuracy: 0.7655
Epoch 31/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4770 - accuracy: 0.7667
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4767 - accuracy: 0.7658
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4768 - accuracy: 0.7665
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4767 - accuracy: 0.7666
Epoch 35/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4764 - accuracy: 0.7661
Epoch 36/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4761 - accuracy: 0.7668
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4762 - accuracy: 0.7667
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4762 - accuracy: 0.7667
Epoch 39/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4754 - accuracy: 0.7672
Epoch 40/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4759 - accuracy: 0.7669
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4752 - accuracy: 0.7680
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4754 - accuracy: 0.7668
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4751 - accuracy: 0.7673
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4748 - accuracy: 0.7671
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4745 - accuracy: 0.7678
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4745 - accuracy: 0.7673
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4747 - accuracy: 0.7678
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4746 - accuracy: 0.7663
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4744 - accuracy: 0.7668
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4748 - accuracy: 0.7678
Epoch 51/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4743 - accuracy: 0.7677
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4743 - accuracy: 0.7673
Epoch 53/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4746 - accuracy: 0.7678
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4740 - accuracy: 0.7679
Epoch 55/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4740 - accuracy: 0.7672
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4737 - accuracy: 0.7669
Epoch 57/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4737 - accuracy: 0.7675
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4740 - accuracy: 0.7684
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4735 - accuracy: 0.7679
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4734 - accuracy: 0.7677
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4736 - accuracy: 0.7673
Epoch 62/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4734 - accuracy: 0.7677
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4736 - accuracy: 0.7678
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4732 - accuracy: 0.7671
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4737 - accuracy: 0.7670
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4731 - accuracy: 0.7676
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4728 - accuracy: 0.7685
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4730 - accuracy: 0.7682
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4730 - accuracy: 0.7684
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4728 - accuracy: 0.7682
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4728 - accuracy: 0.7676
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4725 - accuracy: 0.7681
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4732 - accuracy: 0.7675
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4727 - accuracy: 0.7684
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4726 - accuracy: 0.7684
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4727 - accuracy: 0.7682
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4725 - accuracy: 0.7683
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4725 - accuracy: 0.7685
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4725 - accuracy: 0.7678
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4722 - accuracy: 0.7676
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4724 - accuracy: 0.7677
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4721 - accuracy: 0.7677
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4724 - accuracy: 0.7677
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4718 - accuracy: 0.7689
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4718 - accuracy: 0.7689
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4720 - accuracy: 0.7681
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4717 - accuracy: 0.7676
Epoch 88/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4717 - accuracy: 0.7687
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4718 - accuracy: 0.7693
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4713 - accuracy: 0.7684
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4717 - accuracy: 0.7679
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4716 - accuracy: 0.7675
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4712 - accuracy: 0.7675
Epoch 94/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4718 - accuracy: 0.7683
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4715 - accuracy: 0.7691
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4712 - accuracy: 0.7676
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4713 - accuracy: 0.7692
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4715 - accuracy: 0.7686
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4709 - accuracy: 0.7686
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4716 - accuracy: 0.7690

In [27]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5073 - accuracy: 0.7516 - 530ms/epoch - 2ms/step
Loss: 0.5072922706604004, Accuracy: 0.7516034841537476

In [28]:
# Export our model to HDF5 file
nn.save("alphabetsoupcharity-optimize1.h5")